.tournament-player-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.tournament-player-list .player-card {
    border: 1px solid var(--border-color-1);
    padding: 10px;
    border-radius: 5px;
}