.Navbar {
    background: var(--background-2);
    color: var(--color-2);
    max-width: 800px;
    min-height: 50px;
    border-radius: 12px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-style: italic;
}