.match-player {
    display: flex;
    flex-direction: column;
}

.match-player.match-player-bottom {
    flex-direction: column-reverse;
}

.match-player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.match-player-body {
    display: flex;
    align-items: center;
    height: 50px;
}

.match-player-body > * {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 1em;
}

.bye-player, .upcoming-player {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-weight: 600;
    text-transform: uppercase;
}

.bye-player {
    opacity: 0.5;
}