.group-card {
    flex-grow: 1;
    max-width: 500px;
    background: var(--background-2);
    color: var(--color-2);
    border-radius: 5px;
}

.group-detail {
    padding: 5px;
}

.show-matches-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}