.match-details-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.match-body {
    display: flex;
    flex-direction: column;
    min-height: 195px;
    justify-content: space-between;
    align-items: center;
}