@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-1: #191919;
  --background-1-secondary: #232323;
  --color-1: #bfbfbf;
  --border-color-1: #2e2e2e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s;
}

html,
body {
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
  font-family: "Montserrat";
  background: var(--background-1);
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  width: 100%;
}

section {
  padding: 10px;
}

.card {
  border: 1px solid var(--border-color-1);
}