@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-1: #191919;
  --color-1: #bfbfbf;
  --border-color-1: #2e2e2e;

  --background-2: #F5F5F5;
  --color-2: #191919;
  --border-color-2: #2e2e2e;

  --background-3: #bfbfbf;
  --color-3: #191919;
  --border-color-3: #2e2e2e;

  --status: #F5F5F5;
  --upcoming: #3C3D37;
  --ready: #00712D;
  --in-progress: #E85C0D;
  --finished: #229799;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s;
}

html,
body {
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
  font-family: "Montserrat";
  background: var(--background-1);
  color: var(--color-1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  width: 100%;
}

section {
  padding: 10px;
}

.card {
  border-radius: 5px;
  background: var(--background-2);
  color: var(--border-color-2);
  box-shadow: 0 5px 5px #0000002e;
  border: 1px solid var(--border-color-1);
  width: 400px;
  min-height: 225px;
  height: 100%;
}

.card-header {
  background: var(--background-3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px 5px 0 0;
}