.draw {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    gap: 10px;
}

.draw-round-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}