.contender-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    background: var(--background-1-secondary);
    border: 1px solid var(--border-color-1);
    font-size: 1em;
    color: var(--color-1);
    padding: 5px;
}

.generate-handicap-draw-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.qualified-players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.qualify-players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.report-as-players {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    max-height: 70dvh;
    overflow-y: scroll;
}

.report-as-player {
    width: 100%;
    border: 1px solid var(--border-color-1);
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.report-as-player .error {
    border: 1px solid red;
}